body{
    background: #eee;
}

/* prism custom style */
pre[class*=language-]{
    margin: 0;
    box-shadow: 0px 0px 11px #0c0c0c;
}
pre[class*=language-]  span:first-child
{
    margin-left: -4px;
}

/* page style */
.clear-fix{
    clear: both;
}
.error-section{
    padding: 20px 0px;
    background: #fff;
    margin: 10px 0 0 0;
    box-shadow: 0 0.05rem 0.2rem rgba(69,77,93,.3);
}

.server-info{
    margin: 10px 0;
    border-radius: .03rem;
}

.text-editor{
    padding: 20px;
    background: #282822;
    border-radius: 0.3rem;
    margin-top: 11px;
}
.text-editor h5{
    margin-bottom: 15px;
    color: #e4e4e4;
}
.error-line{
    background: #ea2760;
    color: #fff;
    display: inline-block;
    padding: 0px 20px;
}
.text-center{
    text-align: center;
}
.help-links{
    float: right;
    margin-top: 15px;
}
.help-links a { 
    display: inline-block;
    padding: 18px 18px;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #000;
    position: relative;
    margin-left: 3px;
}
.help-links a:nth-child(2) span
{
    left: 8px;
    top: 9px;
}

/* error debug menu*/
.menu-icon{
    position: static;
}
.menu-info{
    margin-top: 0;
    padding: 0;
    background: #fff;
    height: 0;
    overflow: hidden;
}
.menu-info ul{
    margin: 0;
    padding: 0;
}
.menu-info ul li{
    list-style: none;
    margin: 0;
    padding:  10px;
    word-wrap: break-word;
}
.menu-info ul li:nth-child(even){
    background: #eee;
}
.active-info-menu{
    height: 100%;
    margin-top: 10px;
    padding: .4rem;
    overflow: auto;
}