body{
    overflow: hidden;
    background: #eee;
}
code{
    background: transparent;
}
a:focus{
    box-shadow: none;
}
.tab{
    margin-bottom: 0;
    border: 0;
}

.panel .panel-body{
    padding: 10px 20px;
}

.mt-10{
    margin-top: 10px;
}
.pr-10{
    padding-right: 10px;
}

.exp-panel{
    margin-top: 3px;
    direction: ltr !important;
    background: #fff;
    cursor: pointer;
}
.exp-panel:hover{
    background: #f9f9f9;
}
.exp-panel.active{
    background: #4b49ea;
    position: relative;
    color: #fff;
}
.exp-panel.active::after{
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 5px;
    border-width: 10px 0px 10px 10px;
    border-style: solid;
    border-color: #ff000000 #5755d9;
    z-index: 545454;
}
.exp-column{
    direction: rtl;
    background: #f9f9f9;
}
.exp-panel p{
    margin: 0;
}
.exp-panel p:last-child{
    font-size: 12px;
    font-weight: bold;
}
.tab-content, .hero{
    display: none;
}
.show{
    display: block !important;
    padding: 20px;;
    background: #f9f9f9;
}
.show-hero{
    display: block !important;
}

.tab .tab-item a.active, .tab .tab-item.active a{
    border-color: #f9f9f9;
    background: #f9f9f9;
}

.table.table-hover tbody tr:hover{
    background: #eee;
}
.column, .columns, .container, .row{
    height: 100%!important;
}

.column{
    overflow: auto;
}

#tab-2-block ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

#tab-2-block ul li {
    margin: 0;
    padding: 5px 10px;
}

#tab-2-block ul li:nth-of-type(odd)
{
    background: #fff;
}

.table td, .table th {
    border: 0;
    padding: 0.2rem .6rem;
    background: transparent;
    font-size: 12.5px;
}
.table .table-striped tbody tr:nth-of-type(even) > td
{
    background: #f9f9f9!important;
}
.table .table-striped tbody tr:nth-of-type(odd) > td
{
    background: #fff!important;
}

.table td:last-child{
    word-break: break-all;
    color: red;
}
.table td:first-child{
    white-space: nowrap;
}

.hero{
    padding: 20px;
    padding-bottom: 10px;
}

.dumper{
    padding: 20px;
}

code{
    padding: 0!important;
}
.panel-body{
    word-break: break-all;
}

.line span{
    background: #5755d9;
    padding: 1px 12px;
}

.help-links{
    float: right;
}
.clear-fix{
    clear: both;
}

.help-links a{
    display: inline-block;
    padding: 6px 8px;
    background: #fff;
    border-radius: 50%;
}

.exp-exp{
    background: #4b49ea;
    padding: 5px 20px;
    font-weight: bold;
}

ol.classicEnlighterJS li.specialline, 
ul.classicEnlighterJS li.specialline {
    background-color: #5e5cde66;
    border-left-color: #5755d9;
}
.EnlighterJSWrapper{
    margin-top: 15px;
}